@use '../../styles/mixins' as m

.layout
  min-height: 100dvh
  display: flex
  flex-direction: column
  padding: var(--space-4)

  @include m.up(768px)
    padding: var(--space-5) var(--space-6)

.header
  display: flex
  justify-content: space-between
  align-items: center

.main
  flex: 1
  display: grid
  place-items: center
  padding: var(--space-6) 0
